<ion-header translucent="">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Buy NUMs (Simple)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>Total NUMs: {{numPoints}} </ion-list-header>

  <h3 *ngIf="!consumableProduct">Fetching products</h3>

  <ion-item *ngIf="consumableProduct">
    <ion-label>
      <ng-template *ngIf="consumableProduct.loaded === true">
        <h3>{{consumableProduct.title}}</h3>
        <h2>{{consumableProduct.price}}</h2>
      </ng-template>

      <ng-template *ngIf="consumableProduct.loaded === false">
        <h3>Retrieving info...</h3>
      </ng-template>
    </ion-label>

    <ion-button
      [disabled]="consumableProduct.canPurchase===false"
      (click)="purchaseConsumable()"
      size="small"
      color="success"
    >
      Buy 10 points
    </ion-button>
  </ion-item>
</ion-content>
