<ion-header translucent="">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Buy NUMs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header *ngIf="(totalProducts|async)===0">
      In App Products are not available
    </ion-list-header>
    <ion-item *ngFor="let product of inAppProducts$|async">
      <ion-label>
        <h3>{{product.title}}</h3>
        <h2>{{product.price}}</h2>
      </ion-label>
      <ion-button
        (click)="purchase(product)"
        [disabled]="!product.canPurchase"
        color="success"
      >
        Buy x points ({{product.state}})
        <ion-spinner *ngIf="product.state!=='valid'"></ion-spinner>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    Total NUMs: {{numPoints$|async}}
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="resetNumPoints()">
        Reset NUMs
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
