<ion-header translucent="">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Buy NUMs (Complex)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Total NUMs: {{numPoints$|async}}</ion-list-header>

    <ion-item *ngFor="let product of inAppProducts$|async">
      <ion-label>
        <h3>{{product.title}}</h3>
        <h2>{{product.price}}</h2>
      </ion-label>
      <ion-button
        (click)="purchase(product)"
        [disabled]="!product.canPurchase"
        color="success"
      >
        Buy x points ({{product.state}})
        <ion-spinner *ngIf="product.state!=='valid'"></ion-spinner>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Purchase activity</ion-list-header>
    <ion-item *ngFor="let activity of purchaseActivity">
      <ion-label>
        <h3>{{activity.inAppProduct.title}}</h3>
        <h2>{{activity.inAppProduct.price}}</h2>
      </ion-label>
      <ion-button disabled size="medium" color="success">
        Added +{{activity.numPoints}} points
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
